<nav class="navbar navbar-expand-lg navbar-dark bg-transpernt" style="margin-bottom:30px;background: #000 ">
    <div class="container">
        <a class="navbar-brand" href="#">{{user.username}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/settings">Settings</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="user/games">Leagues</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/login">Logout</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="user/leaders">Leaderbord</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>