<div class="container con" id= "cal">
<nav class="navbar navbar-inverse">
    <div class="container-fluid collapse navbar-collapse  black" id="navbarResponsive">

        <div  class="mine">
             <ul class="nav nav-bar">
            <li> <button class='btn' id="dispCal" ><i class="fa fa-calendar"></i> Calendar</button></li>
            <li><button class="btn " id="tableu"> <i class="fa fa-sort"></i> Standings</button></li>
            <li><button class="btn" id="see"><i class="fa fa-level-up"></i>  Views</button></li>
            <li><button class="btn" id="play"><i class="fa fa-magic"></i>  Play</button></li>
            <li> <button class="btn" id="play-season"><i class="fa fa-level-up"></i>  Play Season </button></li>
        </ul>
        </div>
       <div class="u-pull-right mine">
           <ul class="nav nav-bar"><li><button class="btn"><i class="fa fa-star-o"></i> Top players</button></li>
           <li><button class="btn" id="myTeam" ><i class="fa fa-user" disabled ></i> My Team</button></li>
           <li><button class="btn" id="save"><i class="fa fa-hourglass"></i>  Save</button></li></ul>
           
       </div>
    </div>
</nav>
<div class= "tabS", id="stands"></div>
<div class="cal" id= "calender"></div>

 

<input type="text" value="{{gm}}" hidden id="selected">

<input type="text" value="{{userinfo._id}}" id="saves" hidden>
    <div class="text middle"id="game">
            
  
     



   
       
             
                <div class="text middle" id="pol"> 
                    
               <table class="table table-codensed">
                   <thead>
                      <tr>
                          <th>Name</th>
                          <th>W-L</th>      
                          
                          <th>GM</th>
                          <th>Coach</th>
                          <th><select name="check" id="check"></select></th>
                      </tr>
                   </thead>
                   <tbody id="teamBody">
                       
                   </tbody>
               </table>
               <table class="playersTb " id="pltb">
                   <legend class="next-list" style="width:100%;text-align:center"><i class="fa fa-users"></i>Players </legend>
                   <thead><tr>
                       <th>Position</th>
                       <th>Name </th>
                       <th>PPG</th>
                       <th>RPG</th>
                       <th>APG</th>
                       
                       
                       
                    
                        </tr>
                    </thead>
               </table>
                <ul id="playersList" class="create"></ul>
                </div>
        </div>
 

    
      
</div>
   <script type="text/javascript" src="/vendor/popmotion/popmotion.global.min.js"></script>
    <script src="/js/ani.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/players.js"></script>
    <script src="/js/teams.js"></script>
    <script src="/js/tests.js"></script>
    <script src="/js/league.js"></script>
    <script src="/js/ui.js"></script>
    <script src="/js/app.js"></script

