
<div class="container ">
    <h4>{{user}} Leagues </h4>
<ul>
    <li><a href="./55578">create</a></li>

    <li><a href="/users/leagues/{{selected}}?id={{id}}"> GM: {{gm}} Team: {{selected}}</a></li>
</ul>
</div>