.fill{
    background-color: #22aaff;
    color: #fff;

}



.pic-background {
   
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
   background: linear-gradient(to right,#a15fe9,#6666ff) 
}
.mov-right{
    margin-left: 10px;
   
}
.text{margin-top: 20px;
       width: 90%;
    position: relative ;
     text-align: center;
    background-color : rgb(252, 249, 249);
    opacity: 1;
    
    height: 700px;
    overflow-y: auto;
    padding: 20px;
}
.form-field {
    clear: both;
    padding: 10px;
    width: 350px;
    }
    .form-field label {
    float: left;
    width: 150px;
    text-align: right;
    }
    .form-field input {
    float: right;
    width: 80%;
    text-align: left;
    color: #000;
    }
    select{
        float: right;
        width:80%;
        text-align: left;
    
        height: 50px;
    }
    .team{
        border: 2px solid white;
    padding: 10px; 
width: 45%; 
 }

.noneforme{
   list-style: none;
}
#game{
    
    background: #fff;
    
    
}
.ale{
    color: #fff;
    background-color: #7fa0d1;
    border-color: #000;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.gameD select{
    width: 10%;
    float: left;
}
.clear{
    clear: both;
}
.middle{
    margin-left:auto;
    margin-right: auto;
}
.error {
    color: red;
    padding: 5px;
    background-color: #f19797;
    border:1px solid darkred

}
.playersDivClass{
    width: 100%;
    
    
    padding: 10px;;
    
}
.player{
    color: #000;
    padding: 10px;
    border-bottom:1px solid blue;
    transition: all 0.1s ease-out;
   
}.player{
    width: 95%;
}
.injured{
    color:#ff0932
}
#playersList{

    list-style: none
}
.player:hover{
  
    cursor: pointer;
    background-color: #8bc5e9;
    transform: translateY(-4px); border:1px solid blue;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);  

}
#check{
    width: 180px
}
.stats{
    width: 100%;
    position: absolute ;
     text-align: center;
    background-color : rgb(252, 249, 249); z-index: 999;
    opacity: 1;
    display: block;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
}
.center img{
    width: 90px;
}
.center{
    text-align: center;
}
.info{
    width: 40%;
}
.button button{
color: #000
}
.selected{
    border:3px solid blue;
}
.next{    font-size: 1.2em;
  
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    top:50px;
    width: 250px;
  
    opacity: 1;
    display: none;

    color: rgb(182, 178, 178);
}
.vertigo{
    list-style: none;
}

.next-list{
    color: rgb(58, 56, 56);
    padding: 10px;
  
    transition: all 0.1s ease-out;
}
.next-list:hover{

    cursor: pointer;
    
    transform: translateY(-4px); 
    padding: 10px;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);  
    background: #a15fe9
}

.cal{
    
    width: 100%;
    position: relative ;
     text-align: center;
    background-color : rgb(0, 0, 0); 
    opacity: 0;

    height: 0;
    overflow-y: auto;
    padding: 20px;
    
    
}
.row{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
.line{
    border-bottom: 2px solid black
}
.blue{
    width: 100%;
    height: 30px;
    background-color : rgb(182, 178, 252);
    color: black;
    position: absolute;
    bottom: 0

   

}
.result{
    opacity: 0;
}
.blued{
    width: 100%;
    
    background-color : rgb(182, 178, 252);
    color: black;
    

   

}
.card{
    height: 100%
}
.row{
    min-height: 258px;
    text-align: center
}
.con{
    height: 60%;

    padding: 5px;
    position: relative;
   background-color: #000;
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);  

overflow-y:auto

}
.tabS{
    display: none;
    background-color: #fff
}
.tasb{
    width: 80%;
  color: #fff;
  margin: 10px
    
}
.mine ul li button{
    font-size: 1em;
    color: #fff; overflow: auto
}
.large{
    width: 80%;
    
    font-size: 1em
}
.forme{
    color: #fff;
    background: linear-gradient(to left,#a15fe9,#6666ff);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);  

}
#calender:-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000;
}

#calender::-webkit-scrollbar
{
	width: 10px;
	background-color: #000;
}

#calender::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}



#game:-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000;
}

#game::-webkit-scrollbar
{
	width: 10px;
	background-color: #000;
}

#game::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}


#pol::-webkit-scrollbar-track
{
	
	background-color: #fff;
}

#pol::-webkit-scrollbar
{
	width: 10px;
	background-color: #fff;
}

#pol::-webkit-scrollbar-thumb
{
	background-color: #fff;
	border: 2px solid #fff;
}
}