 
 <div class="container">
         <div class="panel panel-default info center middle forme">
<div class="panel-heading">
         <h3 class=" panel-title" id="lee">Select</h3>
        </div>
        <div class="panel-body"></div>
        <form action="/users/cre/{{user.id}}" class="form mov-right" method="POST"  enctype="application/x-www-form-urlencoded">

            
                    
           
        
    
               
                <div class="form-field">
                <label for="email">GM NAME:</label>
                <input type="text" id="email" name="gm" value="{{user.username}}" required>
                </div>
                
            
                <div class="form-field">
                
              
                <input type="text" name="selected" id="selected" hidden>
                   
                        </div>
                <div class="form-field" >
              <input type="submit" class='u-full-width' value="confirm" id="submit" style="text-align: center" hidden>
                </div>
                

             
        </form>
        <div class="panel-footer">
                 <div class="form-field middle">
                
                <a  class="button center large "  data-toggle ="modal" href="#Modal"  style="color:#fff">Select Team</a>
                 </div>
        </div>
         </div>
        <div class="story">
                <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus cum vero voluptate. Quia iusto reiciendis laboriosam id delectus adipisci illum nostrum rerum sapiente perferendis aliquam neque voluptates totam, iste aliquid!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cupiditate vel eos earum possimus totam autem rem, vitae qui optio id aspernatur numquam consequatur at veniam animi, odio, dolorem sed!
                </p>
                <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt ratione illum iure eos ipsam totam facere tempore, dolorum ea porro molestias distinctio harum molestiae vel accusamus saepe. Accusamus, dolore earum!

                </p>
                <strong> SIM-K &trade; </strong><br>
                <a href="/terms">Terms of use</a>
        </div>
      </div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal"
aria-hidden="true">×
</button>

</div>
<div class="modal-body">
<div class="list-group" id="selectede">

</div>
</div>
<div class="modal-footer">
<div>
        <h3>SIM-K &copysr;</h3>
</div>

</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->    
        <script src="/js/client.js">

        </script>
       
          <script type="text/javascript" src="/vendor/popmotion/popmotion.global.min.js"></script>