
<div class="container u-pull-right" id="odo">
 <div class="row">
<div style="background:#fff; padding:10px;  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);">
 <p class="info">
    HI THERE ITS KOSY IM SORRY RIGHT NOW I HAVE RUN INTO SOME ISSUES ATM BUT THIS WOULD BE FIXED SOON


</p>
<header class="useless"><h4><strong>Useless content</strong></h3> </header>
<p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde ipsa dolores alias itaque officia natus laudantium. Nisi culpa ut quam quos dolorum aperiam ipsam nesciunt. Ab temporibus molestias excepturi nihil.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus eveniet delectus, doloremque itaque possimus unde nostrum, quod dicta quos, debitis architecto ab? Eius odio id officia voluptatibus numquam hic incidunt?
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex adipisci reprehenderit deserunt totam, sapiente ipsum minus optio corrupti voluptatem quibusdam, ab quas magni omnis, consequuntur nostrum nihil labore deleniti accusantium?
    Nemo minima officia officiis suscipit explicabo vitae dicta, neque maiores ut architecto, corporis ea odit molestias excepturi dignissimos adipisci? Possimus voluptatum magnam ad ipsam incidunt? Sint, quis? Dolorum, officiis libero.
    Obcaecati, optio. Alias ipsum aperiam suscipit laboriosam corporis repellat, est vero illum quia amet beatae provident dolorem tenetur sunt blanditiis. Est qui magni atque rerum enim laboriosam mollitia impedit exercitationem.
    Quas ipsam sequi quod amet maxime nihil iure dolorem commodi enim cum deserunt beatae officiis voluptatibus necessitatibus fugiat voluptate earum sunt numquam, dolores impedit molestias aperiam. Ullam doloremque quasi repudiandae.
    Minima ducimus doloribus labore esse architecto iste, facere sapiente, asperiores facilis praesentium excepturi? Et voluptatibus, facere nihil non eveniet labore maiores cumque consequuntur laboriosam in mollitia inventore rerum, soluta provident?
    Animi distinctio repellendus deleniti sunt impedit, sequi facere consequuntur accusantium consectetur quo corporis vitae eum ipsa pariatur reiciendis autem porro voluptatibus! Porro eius animi, ducimus reprehenderit numquam libero perferendis et!
    Iusto sequi tempore sed dicta in dignissimos, similique, laborum, eius pariatur voluptates eos quia dolorum? Similique, doloribus? Rem fuga, iure molestias aliquid, soluta atque tempore, sint cum repudiandae quia qui!
    Suscipit perspiciatis provident maiores ab necessitatibus. Deserunt recusandae nam eaque culpa at voluptas et! Quia quis exercitationem perspiciatis accusamus tempore, possimus dolorem minus animi, repudiandae autem repellendus similique omnis quo!
    
</p>
   <br>
                <a href="/terms">Terms of use</a>
<a href="/game"><strong> SIM-K &trade; </strong></a>
</div>
      </div>
</div>
