 

 
 <div class="container u-pull-right" >
 <div class="row">
    <div class="col-sm-6  pic-background">
        <form action="/users" class="form" method="POST"  enctype="application/x-www-form-urlencoded">
        <fieldset>

                   <div class="container  " >
           <h3 class="flipper" id="lee">Login </h3>
        </div>

                   
          
        
          {{#each errors}}
        <div class="alert  alert-danger">
        {{message}}
        </div>
        {{/each}}
               
                <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="text" id="email" name="email" required class="form-control">
                </div>
                
                    <div class="form-group">
                        <label for="password">Password:</label>
                  <input type="password" name="password" id="password" required class="form-control">
                        </div>
                
             <div class="form-group">
              <input type="submit" class='btn btn-primary' value="Login" id="submit" style="text-align: center; color: #fff">
                </div>
                </fieldset>
             
        </form>
    </div>
    </div>